<section class="about-2307">
    <div class="container-2307">
        <div class="about-2307__content">
            <h2 class="about-2307__title">О компании</h2>
            <div class="about-2307__text">С учётом сложившейся международной обстановки, базовый вектор развития говорит о возможностях приоретизации разума над эмоциями. Прежде всего, новая модель организационной деятельности требует от нас анализа стандартных подходов. Учитывая ключевые сценарии поведения, экономическая повестка сегодняшнего дня предопределяет высокую востребованность глубокомысленных рассуждений.</div>
            <div class="about-2307__img">
                <img src="./img/main/about/about_img.jpg" alt="">
            </div>
        </div>
    </div>
</section>