<section class="top-2307">
    <div class="container-2307">
        <div class="top-2307__content">
            <h1 class="top-2307__title">Производственные линии под ключ для изготовления полимерных труб</h1>
            <div class="top-2307__subtitle">по всей России</div>
            <div class="top-2307__items">
                <div class="top-2307__item">
                    <div class="top-2307__item_img">
                        <img src="./img/main/top/1.png" alt="">
                    </div>
                    <div class="top-2307__item_title">Выгодно</div>
                    <div class="top-2307__item_text">Срок окупаемости 8 месяцев!</div>
                </div>
                <div class="top-2307__item">
                    <div class="top-2307__item_img">
                        <img src="./img/main/top/2.png" alt="">
                    </div>
                    <div class="top-2307__item_title">Оперативно</div>
                    <div class="top-2307__item_text">Запуск производства через 5 месяцев после подписания Договора</div>
                </div>
                <div class="top-2307__item">
                    <div class="top-2307__item_img">
                        <img src="./img/main/top/3.png" alt="">
                    </div>
                    <div class="top-2307__item_title">Стабильно</div>
                    <div class="top-2307__item_text">Спрос на полимерные трубопроводы для инженерных сетей разного
                        назначения превышает предложение
                    </div>
                </div>
                <div class="top-2307__item">
                    <div class="top-2307__item_img">
                        <img src="./img/main/top/4.png" alt="">
                    </div>
                    <div class="top-2307__item_title">Просто</div>
                    <div class="top-2307__item_text">Вам не нужно искать специалистов. Мы обучим сотрудников и обеспечим
                        гарантийное и постгарантийное обслуживание
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>