<section class="offer-2307">
    <div class="text_img-2307 this--reverse">
        <div class="text_img-2307__left">
            <div class="text_img-2307__title">Сделаем для вас<br> коммерческое предложение</div>
            <div class="text_img-2307__subtitle this--mob_mt_20">Ответьте на несколько простых вопросов,<br> чтобы мы точнее могли составить коммерческое предложение</div>
            <a href="#" class="text_img-2307__btn this--width_279 this--mob_mt_30">Пройти опрос</a>
        </div>
        <div class="text_img-2307__right">
            <div class="text_img-2307__img">
                <img src="./img/main/text_img/img.jpg" alt="">
            </div>
        </div>
    </div>
</section>