<section class="project_slider-2307 section-2307">
        <div class="project_slider-2307__content">
            <h2 class="project_slider-2307__title">Проектируем индивидуальные производственные линии</h2>
            <div class="project_slider-2307__top">
                <div class="project_slider-2307__top_wrapper">
                    <div class="project_slider-2307__img">
                        <img src="./img/main/project_slider/project_slider_img.png" alt="">
                        <span class="project_slider-2307__border_1 project_slider-2307__border active"></span>
                        <span class="project_slider-2307__border_2 project_slider-2307__border"></span>
                        <span class="project_slider-2307__border_3 project_slider-2307__border"></span>
                        <span class="project_slider-2307__border_4 project_slider-2307__border"></span>
                        <span class="project_slider-2307__border_5 project_slider-2307__border"></span>
                        <span class="project_slider-2307__border_6 project_slider-2307__border"></span>
                        <span class="project_slider-2307__border_7 project_slider-2307__border"></span>
                    </div>
                    <div class="project_slider-2307__pagination"></div>
                </div>
            </div>
            <div class="container-2307">
                <div class="project_slider-2307__slider swiper-container">
                    <div class="project_slider-2307__slider_wrapper swiper-wrapper">
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Экструдер</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Шкаф управления</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Формирующая голова</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Вакуумная ванна</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Ванна охлаждения</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Тянущее устройство</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_slider-2307__slider_slide swiper-slide">
                            <div class="project_slider-2307__slide_content">
                                <div class="project_slider-2307__slide_left">
                                    <h3 class="project_slider-2307__slide_title">Отрезное устройство</h3>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Описание <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="project_slider-2307__slide_accordion">
                                        <div class="project_slider-2307__slide_accordion_head">
                                            Составные части <span class="project_slider-2307__slide_accordion_arrow"></span>
                                        </div>
                                        <div class="project_slider-2307__slide_accordion_body">
                                            <p>Экструзионная линия для производства полиэтиленовых труб оснащается
                                                двигателем постоянного / переменного тока, цифровым преобразователем
                                                постоянного / переменного тока и высокоэффективной шнековой парой для
                                                обеспечения высокоэффективной экструзии.</p>
                                            <p>Нагрев и поддержание точной температуры шнековой пары обеспечивается
                                                надежными литыми нагревателями из специального алюминиевого сплава и
                                                вентиляторами охлаждения, управляемые высокоточными термоконтроллерами с
                                                ПИД- регуляторами.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project_slider-2307__slide_right">
                                    <div class="project_slider-2307__slide_img">
                                        <img src="./img/main/project_slider/project_slide_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>