<section class="company_slider-2307 section-2307 this--top">
    <div class="container-2307">
        <div class="company_slider-2307__content">
            <h2 class="company_slider-2307__title">Уже 12 компаний запустили свое производство</h2>
            <div class="company_slider-2307__slider swiper-container">
                <div class="company_slider-2307__pagination"></div>
                <div class="company_slider-2307__arrows">
                    <div class="company_slider-2307__btn-prev"></div>
                    <div class="company_slider-2307__btn-next"></div>
                </div>
                <div class="company_slider-2307__slider_wrapper swiper-wrapper">
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/1.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/2.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/1.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/2.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/1.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/2.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                    <div class="company_slider-2307__slider_slide swiper-slide">
                        <a href="#" class="company_slider-2307__slider_slide_content">
                            <img src="./img/main/company_slider/1.jpg" alt="">
                            <div class="company_slider-2307__slider_slide_bottom">
                                <div class="company_slider-2307__slider_slide_name">ООО «Трубный завод»</div>
                                <div class="company_slider-2307__slider_slide_city">г. Пермь</div>
                                <span class="company_slider-2307__slider_slide_arrow"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>