<section class="catalog-2307 section-2307">
    <div class="container-2307">
        <div class="catalog-2307__content">
            <h2 class="catalog-2307__title">Каталог</h2>
            <div class="catalog-2307__items">
                <a href="#" class="catalog-2307__item">
                    <div class="catalog-2307__item_title">Комплектующие</div>
                    <span class="services-2307__link_arrow"></span>
                </a>
                <a href="#" class="catalog-2307__item">
                    <div class="catalog-2307__item_title">Запасные части</div>
                    <span class="services-2307__link_arrow"></span>
                </a>
                <a href="#" class="catalog-2307__item">
                    <div class="catalog-2307__item_title">Материалы</div>
                    <span class="services-2307__link_arrow"></span>
                </a>
            </div>
        </div>
    </div>
</section>