<section class="form-2307">
    <div class="container-2307">
        <div class="form-2307__content">
            <h2 class="form-2307__title">Производственные линии под ваши задачи</h2>
            <div class="form-2307__subtitle">для площади от 400 м2</div>
            <form action="#" class="form-2307__form">
                <div class="form-2307__form_input_wr">
                    <div class="form-2307__form_label">Имя<sup>*</sup></div>
                    <input type="text" class="form-2307__form_input form-2307__form_name only-rus-2307" placeholder="Введите свое имя">
                    <div class="form-2307__error_message">Некорректные данные <span>!</span></div>
                </div>
                <div class="form-2307__form_input_wr">
                    <div class="form-2307__form_label">Телефон<sup>*</sup></div>
                    <input type="text" class="form-2307__form_input form-2307__form_tel mask-phone-2307" value="+_ (___) ___-__-__">
                    <div class="form-2307__error_message">Некорректные данные <span>!</span></div>
                </div>
                <div class="form-2307__form_input_wr">
                    <div class="form-2307__form_label">E-mail</div>
                    <input type="text" class="form-2307__form_input only-eng-2307" placeholder="test@mail.ru">
                </div>
                <div class="form-2307__form_input_wr">
                    <input type="submit" class="form-2307__form_btn" value="Получить консультацию">
                </div>
            </form>
        </div>
        <div class="form-2307__thanks hide">
            <h2 class="form-2307__title">Спасибо за Вашу заявку!<br>Наш менеджер перезвонит Вам в ближайшее время</h2>
            <button class="form-2307__thanks_btn">Оставить еще заявку</button>
        </div>
    </div>
</section>