<header class="header-2307 this--transparent">
    <div class="container-2307">
        <div class="header-2307__content">
            <div class="header-2307__row">
                <div class="header-2307__logo">
                    <img src="./img/header/logo.png" alt="">
                </div>
                <ul class="header-2307__nav">
                    <li class="header-2307__nav_item">
                        <a href="#" class="header-2307__nav_submenu_top header-2307__nav_link">Каталог <span class="header-2307__nav_dot"></span></a>
                        <ul class="header-2307__nav_submenu">
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Подраздел
                                каталога</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Подраздел
                                каталога</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Подраздел
                                каталога</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Подраздел
                                каталога</a></li>
                        </ul>
                    </li>
                    <li class="header-2307__nav_item">
                        <a href="#" class="header-2307__nav_submenu_top header-2307__nav_link">Услуги <span class="header-2307__nav_dot"></span></a>
                        <ul class="header-2307__nav_submenu">
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Проектирование</a>
                            </li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Доставка
                                и установка</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Монтаж</a>
                            </li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Ремонт</a>
                            </li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Обучение</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-2307__nav_item"><a href="#" class="header-2307__nav_link">Проекты</a></li>
                    <li class="header-2307__nav_item">
                        <a href="#" class="header-2307__nav_submenu_top header-2307__nav_link">Компания <span class="header-2307__nav_dot"></span></a>
                        <ul class="header-2307__nav_submenu">
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">О
                                компании</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Партнерам</a>
                            </li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Сертификаты</a>
                            </li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Наши
                                партнеры</a></li>
                            <li class="header-2307__nav_submenu_item"><a href="#"
                                                                           class="header-2307__nav_submenu_link">Полезная
                                информация</a></li>
                        </ul>
                    </li>
                    <li class="header-2307__nav_item"><a href="#" class="header-2307__nav_link">Контакты</a></li>
                </ul>
                <div class="header-2307__right">
                    <div class="header-2307__btn_group">
                        <button class="header-2307__search_btn">
                            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11" cy="10" r="7" stroke="#FDFDFD" stroke-width="2"/>
                                <path d="M16 15.5L20.5 20" stroke="#FDFDFD" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        </button>
                        <button class="header-2307__callback_btn callback_btn-2307">
                            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.43717 18.5628C-0.000353813 10.1253 2.69965 7.4253 6.07467 4.05029L11.4747 9.45031L9.44968 11.4753C9.44968 12.1503 10.4622 13.8378 11.8122 15.1878C13.1622 16.5378 14.8497 17.5503 15.5247 17.5503L17.5497 15.5253L22.9498 20.9254C19.5748 24.3004 16.8747 27.0004 8.43717 18.5628Z" stroke="#FDFDFD" stroke-width="1.5" stroke-linejoin="round"/>
                                <path d="M14.5125 8.43726C15.1875 8.43726 16.2 8.77476 17.2125 9.78726C18.225 10.7997 18.5625 11.8122 18.5625 12.4872" stroke="#FDFDFD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.5128 5.0625C15.8628 5.0625 17.8878 5.7375 19.5753 7.425C21.2628 9.11251 21.9378 11.1375 21.9378 12.4875" stroke="#FDFDFD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.8628 1.68759C17.4335 1.57076 20.0945 2.54432 22.2753 4.7251C24.4561 6.90587 25.4296 9.56694 25.3128 11.1376" stroke="#FDFDFD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="header-2307__burger_btn">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.8">
                                    <rect x="6" y="13" width="24" height="3" rx="1.5" fill="#FDFDFD"/>
                                    <rect x="10" y="36" width="34" height="3" rx="1.5" fill="#FDFDFD"/>
                                    <rect x="10" y="24" width="34" height="3" rx="1.5" fill="#FDFDFD"/>
                                    <path d="M34 12L38 16L42 12" stroke="#FDFDFD" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <a href="tel:+78124588012" class="header-2307__tel">+7 (812) 458-80-12</a>
                </div>
            </div>
            <form action="#" class="header-2307__search">
                <input type="text" placeholder="Поиск" class="header-2307__search_input" name="header-2307__search_input">
                <button class="header-2307__search_submit">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="10" r="7" stroke="#2E3538" stroke-width="2"/>
                        <path d="M16 15.5L20.5 20" stroke="#2E3538" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </form>
            <div class="header-2307__mob_menu">
                <span class="header-2307__mob_menu_close"></span>
            </div>
        </div>
    </div>
    <div class="header-2307__callback-popup">
        <div class="header-2307__callback-popup_body">
            <span class="header-2307__callback-popup_close header-2307__callback-popup_x"></span>
            <div class="header-2307__callback-popup_ask">
                <h2 class="header-2307__callback-popup_title">Оставьте свои данные<br> и наш менеджер перезвонит<br> вам</h2>
                <form action="#" class="form-2307__popup_form">
                    <div class="form-2307__form_input_wr">
                        <div class="form-2307__form_label">Имя<sup>*</sup></div>
                        <input type="text" class="form-2307__form_input form-2307__form_name only-rus-2307" placeholder="Введите свое имя">
                        <div class="form-2307__error_message">Некорректные данные <span>!</span></div>
                    </div>
                    <div class="form-2307__form_input_wr">
                        <div class="form-2307__form_label">Телефон<sup>*</sup></div>
                        <input type="text" class="form-2307__form_input form-2307__form_tel mask-phone-2307" value="+_ (___) ___-__-__">
                        <div class="form-2307__error_message">Некорректные данные <span>!</span></div>
                    </div>
                    <div class="form-2307__form_input_wr">
                        <div class="form-2307__form_label">E-mail</div>
                        <input type="text" class="form-2307__form_input only-eng-2307" placeholder="test@mail.ru">
                    </div>
                    <div class="form-2307__form_input_wr">
                        <input type="submit" class="form-2307__form_btn" value="Получить консультацию">
                    </div>
                </form>
            </div>
            <div class="header-2307__callback-popup_answer hide">
                <h2 class="header-2307__callback-popup_title">Спасибо за Вашу заявку!<br> Наш менеджер перезвонит Вам<br> в ближайшее время</h2>
                <button class="header-2307__callback-popup_close header-2307__callback-popup_answer_btn">Ок</button>
            </div>
        </div>
    </div>
</header>
