<section class="numbers-2307 section-2307">
    <div class="container-2307">
        <div class="numbers-2307__content">
            <h2 class="numbers-2307__title">С нуля до запуска за 4-6 месяцев!</h2>
            <div class="numbers-2307__items">
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/1.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Заявка</div>
                    <div class="numbers-2307__item_text">2 минуты</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/2.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Коммерческое предложение</div>
                    <div class="numbers-2307__item_text">в течение 24 часов</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/3.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Счет и договор</div>
                    <div class="numbers-2307__item_text">в течение 24 часов</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/4.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Предоплата</div>
                    <div class="numbers-2307__item_text">5 минут</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/5.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Доставка оборудования до места</div>
                    <div class="numbers-2307__item_text">до 2 месяцев</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/6.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Остаточный платеж</div>
                    <div class="numbers-2307__item_text">5 минут</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/7.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Монтаж и пусконаладочные работы</div>
                    <div class="numbers-2307__item_text">до 30 дней</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/8.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Обучение сотрудников</div>
                    <div class="numbers-2307__item_text">до 30 дней</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/9.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Подписание акта приёма-передачи</div>
                    <div class="numbers-2307__item_text">в течение 24 часов</div>
                </div>
                <div class="numbers-2307__item">
                    <div class="numbers-2307__item_number">
                        <img src="/img/main/numbers/10.png" alt="">
                    </div>
                    <div class="numbers-2307__item_title">Ввод в эксплуатацию</div>
                    <div class="numbers-2307__item_text">в течение одной недели</div>
                </div>
            </div>
        </div>
    </div>
</section>