<footer class="footer-2307">
    <div class="container-2307">
        <div class="footer-2307__content">
            <div class="footer-2307__top">
                <div class="footer-2307__top_left">
                    <div class="footer-2307__logo">
                        <img src="./img/header/logo.png" alt="">
                    </div>
                    <button class="footer-2307__callback_btn callback_btn-2307">Заказать звонок</button>
                </div>
                <div class="footer-2307__top_item">
                    <a href="#" class="footer-2307__link">Каталог</a>
                    <ul class="footer-2307__submenu">
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                    </ul>
                </div>
                <div class="footer-2307__top_item">
                    <a href="#" class="footer-2307__link">Услуги</a>
                    <ul class="footer-2307__submenu">
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Проектирование</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Доставка и установка</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Пусконаладка</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Техническое обслуживание</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Обучение</a></li>
                    </ul>
                </div>
                <div class="footer-2307__top_item">
                    <a href="#" class="footer-2307__link">Проекты</a>
                    <ul class="footer-2307__submenu">
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Подраздел каталога</a></li>
                    </ul>
                </div>
                <div class="footer-2307__top_item">
                    <a href="#" class="footer-2307__link">Компания</a>
                    <ul class="footer-2307__submenu">
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">О компании</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Партнерам</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Сертификаты</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Наши партнеры</a></li>
                        <li class="footer-2307__submenu_item"><a href="#" class="footer-2307__submenu_link">Полезная информация</a></li>
                    </ul>
                </div>
                <div class="footer-2307__top_right">
                    <a href="#" class="footer-2307__link">Контакты</a>
                    <ul class="footer-2307__submenu">
                        <li class="footer-2307__submenu_item"><a href="tel:+78124588012" class="footer-2307__tel">+7 (812) 458-80-12</a></li>
                        <li class="footer-2307__submenu_item"><a href="mailto:info@spbenergoplast.ru" class="footer-2307__mail">info@spbenergoplast.ru</a></li>
                        <li class="footer-2307__submenu_item">Офис — г. Санкт-Петербург, ул. Химиков, д. 28, лит. АC, оф. 1106</li>
                        <li class="footer-2307__submenu_item">Производство — г. Пушкин, ул. Промышленная, дом 11, литера И</li>
                    </ul>
                </div>
            </div>
            <div class="footer-2307__bottom">
                <ul class="footer-2307__bottom_items">
                    <li class="footer-2307__bottom_item">© Энергопласт</li>
                    <li class="footer-2307__bottom_item"><a href="#" class="footer-2307__bottom_link">Пользовательское соглашение</a></li>
                    <li class="footer-2307__bottom_item"><a href="#" class="footer-2307__bottom_link">Политика конфиденциальности</a></li>
                </ul>
                <div class="footer-2307__develope">
                    <div class="footer-2307__develope_text">Сайт разработан </div>
                    <div class="footer-2307__develope_img">
                        <img src="./img/footer/develope.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>