<section class="services-2307">
    <div class="container-2307">
        <div class="services-2307__content">
            <h2 class="services-2307__title">Услуги</h2>
            <div class="services-2307__subtitle">Мы оказываем услуги как комплексно, так и по отдельности. Стоимость рассчитывается индивидуально</div>
            <div class="services-2307__items">
                <div class="services-2307__item this--small">
                    <a href="#" class="services-2307__link">
                        <div class="services-2307__link_title">Спроектируем</div>
                        <ul class="services-2307__link_list">
                            <li>С учетом задач бизнеса</li>
                            <li>С учетом мощностей и площади</li>
                        </ul>
                        <span class="services-2307__link_arrow"></span>
                    </a>
                </div>
                <div class="services-2307__item this--big this--two">
                    <a href="#" class="services-2307__link">
                        <div class="services-2307__link_title">Доставим и установим</div>
                        <ul class="services-2307__link_list">
                            <li>Произведем монтаж</li>
                        </ul>
                        <span class="services-2307__link_arrow"></span>
                    </a>
                    <a href="#" class="services-2307__link this--mt">
                        <div class="services-2307__link_title">Запустим</div>
                        <ul class="services-2307__link_list">
                            <li>Проведем пусконаладочные работы</li>
                        </ul>
                        <span class="services-2307__link_arrow"></span>
                    </a>
                </div>
                <div class="services-2307__item this--big">
                    <a href="#" class="services-2307__link">
                        <div class="services-2307__link_title">Обеспечим стабильную работоспособность</div>
                        <ul class="services-2307__link_list">
                            <li>Гарантийное и постгарантийное обслуживание</li>
                            <li>Обеспечим запасными частями</li>
                            <li>Организуем техническое обслуживание и сопровождение</li>
                            <li>Организуем консультации с техническими специалистами</li>
                        </ul>
                        <span class="services-2307__link_arrow"></span>
                    </a>
                </div>
                <div class="services-2307__item this--small">
                    <a href="#" class="services-2307__link">
                        <div class="services-2307__link_title">Обучим</div>
                        <ul class="services-2307__link_list">
                            <li>Ознакомим со всеми особенностями оборудования</li>
                            <li>Научим работе с оборудованием</li>
                            <li>Организуем техническое обслуживание и сопровождение</li>
                            <li>Организуем консультации с техническими специалистами</li>
                        </ul>
                        <span class="services-2307__link_arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>