<section class="contacts-2307">
    <div class="container-2307">
        <div class="contacts-2307__content">
            <h2 class="contacts-2307__title">Контакты</h2>
            <div class="contacts-2307__items">
                <div class="contacts-2307__item">
                    <div class="contacts-2307__item_img">
                        <img src="./img/main/contacts/1.png" alt="">
                    </div>
                    <div class="contacts-2307__item_bottom">
                        <a href="tel:+78124588012" class="contacts-2307__item_title">+7 (812) 458-80-12</a>
                    </div>
                </div>
                <div class="contacts-2307__item">
                    <div class="contacts-2307__item_img">
                        <img src="./img/main/contacts/2.png" alt="">
                    </div>
                    <div class="contacts-2307__item_bottom">
                        <a href="mailto:info@spbenergoplast.ru" class="contacts-2307__item_title">info@spbenergoplast.ru</a>
                    </div>
                </div>
                <div class="contacts-2307__item">
                    <div class="contacts-2307__item_img">
                        <img src="./img/main/contacts/3.png" alt="">
                    </div>
                    <div class="contacts-2307__item_bottom">
                        <div class="contacts-2307__item_text">Офис</div>
                        <div class="contacts-2307__item_title">г. Санкт-Петербург, ул. Химиков, д. 28, лит. АC, оф. 1106
                        </div>
                    </div>
                </div>
                <div class="contacts-2307__item">
                    <div class="contacts-2307__item_img">
                        <img src="./img/main/contacts/4.png" alt="">
                    </div>
                    <div class="contacts-2307__item_bottom">
                        <div class="contacts-2307__item_text">Производство</div>
                        <div class="contacts-2307__item_title">г. Пушкин, ул. Промышленная, дом 11, литера И</div>
                    </div>
                </div>
            </div>
            <div class="contacts-2307__map" id="map-2307"></div>
        </div>
    </div>
</section>