<section class="special_slider-2307">
    <div class="special_slider-2307__pagination"></div>
    <div class="special_slider-2307__slider swiper-container">
        <div class="special_slider-2307__slider_wrapper swiper-wrapper">
            <div class="special_slider-2307__slider_slide swiper-slide">
                <div class="text_img-2307">
                    <div class="text_img-2307__left this--mob_pb">
                        <div class="text_img-2307__title">Пусконаладочные работы по специальной цене</div>
                        <div class="text_img-2307__subtitle">Только до конца месяца</div>
                        <button class="text_img-2307__btn callback_btn-2307">Забронировать скидку</button>
                    </div>
                    <div class="text_img-2307__right">
                        <div class="text_img-2307__img">
                            <img src="./img/main/text_img/img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="special_slider-2307__slider_slide swiper-slide">
                <div class="text_img-2307">
                    <div class="text_img-2307__left this--mob_pb">
                        <div class="text_img-2307__title">Пусконаладочные работы по специальной цене</div>
                        <div class="text_img-2307__subtitle">Только до конца месяца</div>
                        <button class="text_img-2307__btn callback_btn-2307">Забронировать скидку</button>
                    </div>
                    <div class="text_img-2307__right">
                        <div class="text_img-2307__img">
                            <img src="./img/main/text_img/img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="special_slider-2307__slider_slide swiper-slide">
                <div class="text_img-2307">
                    <div class="text_img-2307__left this--mob_pb">
                        <div class="text_img-2307__title">Пусконаладочные работы по специальной цене</div>
                        <div class="text_img-2307__subtitle">Только до конца месяца</div>
                        <button class="text_img-2307__btn callback_btn-2307">Забронировать скидку</button>
                    </div>
                    <div class="text_img-2307__right">
                        <div class="text_img-2307__img">
                            <img src="./img/main/text_img/img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>