<section class="partners-2307 section-2307">
    <h2 class="partners-2307__title">Наши партнеры</h2>
    <div class="partners-2307__items">
        <div class="partners-2307__item">
            <img src="./img/main/partners/1.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/2.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/3.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/4.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/5.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/6.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/1.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/2.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/3.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/4.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/5.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/6.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/1.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/2.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/3.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/4.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/5.png" alt="">
        </div>
        <div class="partners-2307__item">
            <img src="./img/main/partners/6.png" alt="">
        </div>
    </div>
</section>